*{
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

@font-face {
    font-family: PixelFont;
    src: url(//fonts/PixelEmulator-xq08.ttf);
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4%;
    background-color: #A3CEF1;
    gap: 100px;
}
h1{
    margin-top: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

.fixed-size-container{
    display: flex;
    flex: wrap;
    width: 600px;
    height: 600px;
}

#div-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

.child{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.canvas-title-size-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.canvas-size-label{
    margin-bottom: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 8px;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttons{
    background-color: #6096BA;
    color: #E7ECEF;
    border-style: none;
    padding: 15px 100px;
    border-radius: 15px;
    font-size: 25px;
    letter-spacing: 6px;
    font-family: 'Pixelify Sans', sans-serif;
    
}
.buttons:hover{
    cursor: pointer;
    background-color: #274C77;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
}
.active{
    background-color: #274C77;
}

.grid-modifier{
    margin: 10px 0px;
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    border-radius: 5px;
    background: #6096BA;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.grid-modifier:hover {
    opacity: 1;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
  }

.grid-modifier::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #274C77;
    cursor: pointer;
}

.grid-modifier::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #274C77;
    cursor: pointer;
}